h1 {
    text-align: center;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: normal;
} -->
body{
background-image: url('img/backgr.jpg');
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
}
h1 {
  color:pink (216, 102, 121, 0.753);
  font-family: verdana;
  font-size: 300%;
  background-color: black;
}
h2 {
  color: blueviolet;
  p.groove {border-style: groove;}
  font-family: verdana;
  font-size: 300%;
  background-color: pink;
}
p {
  color: blue;
  font-family: courier;
  font-size: 160%;
  background-color:(44, 148, 89, 0.747)
}
img {
width:400;
height:379;
    padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 13px;
  padding-right: 13px;
}


table{
border: 5px double black;
border-collapse: collapse;
font-size: 30px;
}
th,td{
border:1px solid black;
}
th{
background-color:hsl;
}
th, td {
  border:1px solid black;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 13px;
  padding-right: 13px;
}
/*tr:nth-child(odd){
 background-color: Highlight; 
}*/
h3 {
  color:mediumseagreen ;
  p.groove {border-style: groove;}
  font-family: verdana;
  font-size: 300%;
  background-color:green;
}


a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

